body {
    margin: 0;
    font-family: Tahoma;
}

.secao {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.paragrafo {
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
    margin: 10px auto;
    width: 980px;
}

.topo{
    background-color: #afddfb;
}

.topo img{
    width: 150px;
}

.paragrafo-topo{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.link-topo {
    color: #1d1d1d;
    font-size: 18px;
    text-decoration: none;
    margin: 0px 10px;
    border-bottom: 2px solid #1d1d1d;
}

.banner {
    padding-top: 0;
    margin-top: 50px;
}

span {
    font-weight: bold;
}
    
h1{
    color: #1d1d1d;
    margin-bottom: 5px;
}

h2{
    font-weight: normal;
    color: #1c81c0;
    margin-top: 0;
}

.imagem{
    width: 450px;
}

.texto-azul {
    color: #1d80c1;
}

.servicos, .contato {
    background-color: #1d80c1;
}

h3 {
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}

.paragrafo-servicos {
    color: #ffffff;
    font-size: 22px;
    line-height: 42px;
    text-align: center;
    width: 700px;
}

.texto-amarelo {
    color: #fff81b;
}

.lista-servicos {
    width: 135px;
    margin: 40px auto 40px;
}

.item-lista-servicos {
    line-height: 42px;
    text-align: left;
    font-size: 22px;
    color: #fff;
}

.paragrafo-contato{
    color: #fff;
    background-color: #1d1d1d;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lista-contato{
    margin: 40px auto 40px;
    width: 210px;
    list-style: none;
    font-size: 18px;
}

.item-lista-contato {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.link-contato{
    background-color: #ffffff;
    color:#1d80c1;
    padding: 2px 5px;
    border-radius: 5px;
}