* {
    margin:0;
    padding:0;
    font-family: 'Tahoma', sans-serif;
    color: #000000;

}
div{
    text-align: center;
    border-top: 1px solid #d5d5d5;
    padding: 50px;
    background-color: #f5f5f5;
}
h1, h2, h3, p{
    text-align: center;
    margin: 15px 0px;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 18px;
}
p{
    font-size:16px;
    width: 930px;
    line-height: 28px;
    margin: 15px auto 30px auto;   
}
span{
    font-weight: bold
}
img{
    width: 190px;
}

a{
    border-radius: 25px;
    padding: 10px 30px;
    background-color: #49B970;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none
}